<!--
============================================
; Title:  Form Validation
; Author: Professor Krasso
; Date:  25 August 2019
; Modified by: Andrew Hemminger
; Description: Exercise 7.3 - Form Validation
;===========================================
-->

<!-- Angular Material toolbar -->
<mat-toolbar class="menu" role="header" color="primary">
    <mat-toolbar-row>
      <button mat-button class="mat-button">Home</button>
      <button mat-button class="mat-button">Login</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Flex layout -->
<div class="parent">
  <div class="left" fxFlex="20%"></div>

  <div class="right" fxFlex="80%">
    <br>
    <h1>Hemminger Assignment 7.3 - Form Validation</h1>
    <!-- Angular Material forms -->
    <mat-card class="login-panel frm-login-panel">
      <mat-card-header class="frm-login-header">
        <mat-toolbar class="frm-login-toolbar">Phone Validator</mat-toolbar>
      </mat-card-header>
      <br>

      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div>
          Phone number: 
          <input 
            type="text" 
            name="username" 
            ngModel
            required
            pattern="[0-9]*"
            minlength="10"
            #phone="ngModel"
            [class.hasError]="phone.isvalid && phone.touched">
        
          <div [hidden]="phone.valid || phone.pristine">
            <div class="error" [hidden]="!phone.hasError('minlength')">Phone has to have at least 10 digits</div>
            <div class="error" [hidden]="!phone.hasError('required')">Phone number is required</div>
            <div class="error" [hidden]="!phone.hasError('pattern')">Only digits are allowed</div>
          </div>
        </div>      
      </form>

       <mat-card-actions class="frm-login-actions">
        <button mat-raised-button class="btn-primary">Submit</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
