<!--
============================================
; Title:  Form Validation
; Author: Professor Krasso
; Date:  25 August 2019
; Modified by: Andrew Hemminger
; Description: Exercise 7.3 - Form Validation
;===========================================
-->

<!-- Angular Material toolbar -->
<mat-toolbar class="menu" role="header" color="primary">
    <mat-toolbar-row>
      <button mat-button class="mat-button">Home</button>
      <button mat-button class="mat-button">Login</button>
    </mat-toolbar-row>
</mat-toolbar>

  <!-- Flex layout -->
<div class="parent">
  <div class="left" fxFlex="20%"></div>
  <div class="right" fxFlex="80%">
    <br>
    <h1>Hemminger Assignment 7.3 - Form Validation</h1>
   
    <!-- Angular Material forms -->
    <div class="form-example">
      <mat-card class="panel frm-panel">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value); f.reset()">
          
          <mat-card-header class="frm-header">
            <mat-toolbar class="frm-toolbar">Phone Validator</mat-toolbar>
          </mat-card-header>

          <br>

          <div>
            <mat-form-field>
              <input matInput type="text" name="telephone"
                    placeholder="Telephone"
                    ngModel
                    required
                    pattern="[0-9]*"
                    minlength="10"
                    maxlength="20"
                    #phone="ngModel"
                    [class.hasError]="phone.isvalid && phone.touched">
            </mat-form-field>

            <div [hidden]="phone.valid || phone.pristine">
              <div class="alert alert-danger" role="alert" [hidden]="!phone.hasError('minlength')">Phone has to have at least 10 digits</div>
              <div class="alert alert-danger" role="alert" [hidden]="!phone.hasError('required')">Phone is required</div>
              <div class="alert alert-danger" role="alert" [hidden]="!phone.hasError('pattern')">Only digits are allowed</div>
            </div>
          </div>

          <mat-card-actions class="frm-actions">
            <button mat-raised-button class="btn-danger" type="reset">Cancel</button>&nbsp;
            <button mat-raised-button class="btn-primary" type="submit" [disabled]="f.invalid">Submit</button>
          </mat-card-actions>

        </form>
      </mat-card>
    </div>
  </div>
</div>
