<!--
============================================
; Title:  OnChange() Events
; Author: Professor Krasso
; Date:  17 August 2019
; Modified by: Andrew Hemminger
; Description: Exercise 6.4 - OnChange() Events
;===========================================
-->

<!-- Angular Material toolbar -->
<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="mat-button" [routerLink]="['/']" >Home</button>
    <button mat-button class="mat-button" [routerLink]="['/login']" >Login</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- site content: input box and result -->
<div class="parent">
  <div class="left" fxFlex="20%"></div>
  <div class="right" fxFlex="80%">

    <div class="box">
      <h1>Assignment 6.4 - OnChange() Events</h1>
      <div class="outline">
        <h2>Parent</h2>
        <div>
          Greeting: <input type="text" [(ngModel)]="myGreeting">
        </div>
        <br>
        <div>
          User name: <input type="text" [(ngModel)]="myUser.name">
        </div>
        <br>
      </div>

      <br>

      <app-child [greeting]="myGreeting" [user]="myUser"></app-child>
    </div>

  </div>
</div>
