<!--
============================================
; Title:  Output Properties
; Author: Professor Krasso
; Date:  17 August 2019
; Modified by: Andrew Hemminger
; Description: Exercise 6.3 - Output Properties
;===========================================
-->

<!-- Angular Material toolbar -->
<mat-toolbar class="menu" role="header" color="primary">
    <mat-toolbar-row>
      <button mat-button class="mat-button" [routerLink]="['/']" >Home</button>
      <button mat-button class="mat-button" [routerLink]="['/login']" >Login</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- site content: input box and result -->
  <div class="parent">
    <div class="left" fxFlex="20%"></div>
    <div class="right" fxFlex="80%">
      <div class="box">

        <h1>Assignment 6.3 - Output Properties</h1>

        <div class="label">
          AppComponent received: {{ priceQuote?.stockSymbol }} {{ priceQuote?.lastPrice | currency: 'USD' }}
        </div>

        <br>

        <app-price-quote (lastPrice)="priceQuoteHandler($event)"></app-price-quote>

      </div>
    </div>
  </div>
